.btn
    color: $white
    font-size: rem(14px)
    //### Color
    &_grey
        background-color: $grey
    &_red
        background-color: $red
    &_purple
        background-color: $purple
    //### Size
    &_lg
    &_md
    &_sm
    //### Effect
    &_shadow