header.header-page.header-page_inner
    .header-page__container.container
        .header-page__left
            a.header-page__support.link(href="callto: mediator")
                svg.header-page__icon.header-page__icon_lg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 3.7 512 504.6" style="enable-background:new 0 3.7 512 504.6;" xml:space="preserve")
                    use(xlink:href="#skype-icon")
                | mediator
            a.header-page__support.link(href="mailto: mediator@mail.com") 
                svg.header-page__icon.header-page__icon_md(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 198.5 612 394"  xml:space="preserve")
                    use(xlink:href="#envelop-icon")
                | mediator@mail.com
        .header-page__right
            .header-page__link-wrap
                a.header-page__link(href="chashin.html") Пополнить баланс
                a.header-page__link(href="chashout.html") Вывести средства
            button.header-page__mobile
                span
