footer.footer-page
    .footer-page__container.container
        .footer-page__left
            .footer-page__logo
                a(href="index.html")
                    img(src="img/footer-page__logo.png", alt="")
            .footer-page__copyright © Mediator 2016
        .footer-page__right
            a.footer-page__support.link(href="callto: mediator")
                svg.footer-page__icon.footer-page__icon_lg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 3.7 512 504.6" style="enable-background:new 0 3.7 512 504.6;" xml:space="preserve")
                    use(xlink:href="#skype-icon")
                | mediator
            a.footer-page__support.link(href="mailto: mediator@mail.com") 
                svg.footer-page__icon.footer-page__icon_md(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 198.5 612 394"  xml:space="preserve")
                    use(xlink:href="#envelop-icon")
                | mediator@mail.com